span{
    display: inline-block;
    
}
.button{
    display: inline-block;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    
}
.canvas{
    text-align: center;
}
#gray{
    background-color: gray;
}
#white{
    background-color: #fff;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
a{
    text-decoration: none;
}










